@import url('./eff_img.css');

html,
body {
    background: url(../images/bg-repeat.png);
}

img {
    max-width: 100%;
}

#container {
    width: fit-content;
    background: #FFF;
    margin: auto;
}

@media (min-width: 1200px){
    .container {
        max-width: 1100px;
    }
}

#navbar {
    background: #414141;
    align-items: center;
    .nav-link {
        display: block;
        padding: 0.5rem;
    }

    .nav-item {
        border-right: 1px solid #FFFFFF77;
        width: calc(100% / 7);
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        font-size: 15px;
        &:last-child {
            border-right: 0px;
        }

        a {
            color: #FFFFFF;
            text-transform: capitalize;
        }

        &.dropdown {
            position: relative;

            .sub-menu {
                position: absolute;
                top: 100%;
                left: 0px;
                background: #56442C;
                z-index: 100;
                width: 100%;
                list-style: none;
                padding: 0px;
                display: none;
                .sub-item {
                    padding: 5px 5px 5px 20px;
                    width: 100%;
                    display: block;
                    border-bottom: 1px solid #C36B04;
                    text-align: left;
                    position: relative;
                    a {
                        text-decoration: none;
                        color: #FFFFFF;
                    }

                    &:last-child {
                        border-bottom: 0px;
                    }

                    &::after{
                        content: '\f061';
                        position: absolute;
                        transform: translateY(-50%);
                        left: 5px;
                        top: 50%;
                        font-family: 'FontAwesome';
                        font-size: 11px;
                        color: red;
                    }

                    &:hover {
                        background: #FF9F2E;
                    }

                }
            }

            &:hover {
                background: red;
                .sub-menu {
                    display: block;
                }
            }
        }
    }
}

.card-style-1 {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background: url(../images/bg-card-1.jpg);
        left: 0px;
        top: 0px;
        height: 50px;
        background-size: 100% 100%;
        width: 100%;
        background-repeat: no-repeat;
    }

    .card-body {
        background: url(../images/bg-card-body-1.jpg);
        background-size: 100% 100%;
        background-repeat: repeat-y;

        ul.aside-menu {
            padding: 0px;

            li {
                list-style: none;
                padding: 8px 5px;
                margin: 5px 0px;
                text-transform: capitalize;
                border-radius: 5px;
                &:hover, &.active {
                    background: #0082BB;

                    a {
                        color: #FFFFFF;
                    }
                }

                a {
                    text-decoration: none;
                    color: #000;
                    position: relative;
                    display: block;

                    &::after {
                        content: '\f061';
                        position: absolute;
                        transform: translateY(-50%);
                        right: 0px;
                        top: 50%;
                        font-family: 'FontAwesome';
                        font-size: 11px;
                        color: red;
                    }
                }
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        background: url(../images/bg-card-footer-1.jpg);
        left: 0px;
        bottom: 0px;
        height: 25px;
        background-size: 100% 100%;
        width: 100%;
        background-repeat: no-repeat;
    }
}

.card-style-2 {
    border: 0px;

    .card-header {
        background: #0082BB;
        text-align: center;
        color: #FFFFFF;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
    }
}

.card-product {
    a.name {
        color: green;
        font-weight: bold;
        text-decoration: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &:last-child {
        margin-bottom: 0px !important;
    }
}

.slick-slider {
    position: relative;

    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 50;
        border: none;
        border-radius: 50%;
        font-size: 10px;
        width: 25px;
        height: 25px;
        cursor: pointer;

        &.bt-pre {
            left: -10px;
        }

        &.bt-next {
            right: -10px;
        }
    }
}

.breadcrumb{
    .breadcrumb-item{
        text-transform: capitalize;
        a{
            color: #000;
            text-decoration: none;
        }
    }
}

#contact-sell{
    position: fixed;
    top: 2%;
    right: 10%;
    background: #FFF;
    z-index: 100;
    text-align: center;
    box-shadow: 0 0 14px yellow;
    .text{
        color: blue;
        font-weight: bold;
    }
    .phone{
        a{
            color: red;
            text-decoration: none;
        }
    }
}